<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><h1><ion-text color="light">Misiones</ion-text></h1></ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content fullscreen>
  <ion-card >
    <ion-button expand="full" color="primary"   (click)="goIngresar()">TV LG 50 4k 800A</ion-button>
  </ion-card>
</ion-content> -->

<ion-content padding>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <img src="assets/icon/mision2.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Misión 1</ion-card-subtitle>
          <ion-card-title>MOTOROLA</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Motorola E6S 2Gb Ram 32Gb Rom Azul
        </ion-card-content>
        <ion-button shape="round" fill="outline">666 Puntos</ion-button>
        <ion-avatar slot="fixed" class="ion-margin" style="position: absolute; right: 0;">
            <ion-img src="assets/icon/store_green.png"></ion-img>
        </ion-avatar>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/icon/mision3.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Misión 2</ion-card-subtitle>
          <ion-card-title>XIAOMI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Audífonos Xiaomi Mi True Wireless Earbuds S
        </ion-card-content>
        <ion-button shape="round" fill="outline">66 Puntos</ion-button>
        <ion-avatar slot="fixed" class="ion-margin" style="position: absolute; right: 0;">
            <ion-img src="assets/icon/website_green.png"></ion-img>
        </ion-avatar>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/icon/mision4.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Misión 3</ion-card-subtitle>
          <ion-card-title>MANGO</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Vestido Volante Ditsie Mujer
        </ion-card-content>
        <ion-button shape="round" fill="outline">199 Puntos</ion-button>
        <ion-avatar slot="fixed" class="ion-margin" style="position: absolute; right: 0;">
            <ion-img src="assets/icon/store_green.png"></ion-img>
        </ion-avatar>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/icon/mision5.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Misión 4</ion-card-subtitle>
          <ion-card-title>NIKE</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Air Force 1 Sage Low LX Zapatilla Urbana Mujer
        </ion-card-content>
        <ion-button shape="round" fill="outline">290 Puntos</ion-button>
        <ion-avatar slot="fixed" class="ion-margin" style="position: absolute; right: 0;">
            <ion-img src="assets/icon/store_green.png"></ion-img>
        </ion-avatar>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/icon/mision6.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Misión 5</ion-card-subtitle>
          <ion-card-title>NENUCO</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Bebe Nenuco Siempre Conmigo
        </ion-card-content>
        <ion-button shape="round" fill="outline">199 Puntos</ion-button>
        <ion-avatar slot="fixed" class="ion-margin" style="position: absolute; right: 0;">
            <ion-img src="assets/icon/website_green.png"></ion-img>
        </ion-avatar>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/icon/mision1.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Misión 6</ion-card-subtitle>
          <ion-card-title>SYBILLA</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Vestido algodón mini mujer
        </ion-card-content>
        <ion-button shape="round" fill="outline">56 Puntos</ion-button>
        <ion-avatar slot="fixed" class="ion-margin" style="position: absolute; right: 0;" (click)="goIngresar()">
            <ion-img src="assets/icon/store_green.png"></ion-img>
        </ion-avatar>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>