// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-background-color-rgb: 143,202,0;

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0,0,0;

  --ion-color-step-50: #8fca00;
  --ion-color-step-100: #81b600;
  --ion-color-step-150: #7aac00;
  --ion-color-step-200: #72a200;
  --ion-color-step-250: #6b9800;
  --ion-color-step-300: #648d00;
  --ion-color-step-350: #5d8300;
  --ion-color-step-400: #567900;
  --ion-color-step-450: #4f6f00;
  --ion-color-step-500: #486500;
  --ion-color-step-550: #405b00;
  --ion-color-step-600: #395100;
  --ion-color-step-650: #324700;
  --ion-color-step-700: #2b3d00;
  --ion-color-step-750: #243300;
  --ion-color-step-800: #1d2800;
  --ion-color-step-850: #151e00;
  --ion-color-step-900: #0e1400;
  --ion-color-step-950: #070a00;

  /** primary **/
  --ion-color-primary: #8fca00;
  --ion-color-primary-rgb: 143,202,0;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5d8300;
  --ion-color-primary-tint: #405b00;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** green **/
  --ion-color-green: #ffffff;
  --ion-color-green-rgb: 255,255,255;
  --ion-color-green-contrast: #8fca00;
  --ion-color-green-contrast-rgb: 255,255,255;
  --ion-color-green-shade: #ffffff;
  --ion-color-green-tint: #ffffff;
}
/*:root {
  //--ion-background-color: #8fca00;
  --ion-background-color-rgb: 143,202,0;

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0,0,0;

  --ion-color-step-50: #8fca00;
  --ion-color-step-100: #81b600;
  --ion-color-step-150: #7aac00;
  --ion-color-step-200: #72a200;
  --ion-color-step-250: #6b9800;
  --ion-color-step-300: #648d00;
  --ion-color-step-350: #5d8300;
  --ion-color-step-400: #567900;
  --ion-color-step-450: #4f6f00;
  --ion-color-step-500: #486500;
  --ion-color-step-550: #405b00;
  --ion-color-step-600: #395100;
  --ion-color-step-650: #324700;
  --ion-color-step-700: #2b3d00;
  --ion-color-step-750: #243300;
  --ion-color-step-800: #1d2800;
  --ion-color-step-850: #151e00;
  --ion-color-step-900: #0e1400;
  --ion-color-step-950: #070a00;

  --ion-color-primary: #8fca00;
}*/